<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
	<form method="POST" id="form" action="https://merchant.webmoney.ru/lmi/payment.asp" target="_top">
		<input type="hidden" name="LMI_PAYMENT_AMOUNT" value="<%- amount %>">
		<input type="hidden" name="LMI_PAYMENT_DESC_BASE64" value="<%- description %>">
		<input type="hidden" name="LMI_PAYMENT_NO" value="<%- transaction %>">
		<input type="hidden" name="LMI_PAYEE_PURSE" value="<%- purse %>">
		<input type="hidden" name="LMI_SIM_MODE" value="0">
		<input type="hidden" name="LMI_SUCCESS_URL" value="<%- successUrl %>">
		<input type="hidden" name="LMI_FAIL_URL" value="<%- failUrl %>">
	</form>
	<script type="text/javascript">
	document.getElementById('form').submit();
	</script>
</body>
</html>